body{
    line-height: 1.7;
    color: gray;
    font-weight: 300;
    font-size: 16px;
    background-color: #222831;
}
a{
    text-decoration: none;
}
/* HEADER NAVBAR */
header.site-navbar{
    z-index: 999;
    margin-bottom: 0;
    position: absolute;
    width: 100%;
}
header .main_logo{
    position: relative;
    font-weight: 900;
    font-size: 1.3em;
}
.ml-auto{
    margin-left: auto !important;
}
.site-navigation .site-menu > li{
    display: inline-block;
}
.site-navigation .site-menu .active > a{
    display: inline-block;
    position: relative;
}
.site-navigation .site-menu .active > a:before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 20px;
    right: 20px;
    height: 2px;
    background: red;
}
.site-navigation .site-menu li > a{
    color: #fff;
    padding: 5px 20px;
    font-size: 15px;
    font-weight: 400;
}

/* SECTION PART */
.section_top{
    background-size: cover;
    background-position: center center;
}
.section_top h1{
    font-weight: 700;
    font-size: 3.5rem;
    color: white !important;
    opacity: 0.9;
    line-height: 1.2;
}
.section_top.overlay:before{
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.section_top , .section_top > .container > .row{
    height: 100vh;
    min-height: 500px;
}
p{
    color: #fff;
    opacity: 0.9;
    margin-top: 0;
    margin-bottom: 1rem;
}
.blood_group{
    margin-bottom: 20px;
    width: fit-content;
    /* background-color:lightgrey; */
    opacity: 0.9;
}
.blood_group > .blood_block{
    display: inline-block;
    border-radius: 7px;
    padding: 10px 0 10px 0;
    width: 80px;
    margin-right: 8px;
    text-align: center;
}
.blood_block > img{
    width: 90px;
}
.blood_block > .label{
    color: black;
    font-weight: bold;
    opacity: 0.9;
}

.blood_d_btn{
    color: #fff;
    background-color: rgb(241, 28, 28);
    border-color:#ee1e46;
}
 .blood_d_btn:hover{
    color: #fff !important;
    background: none !important;
    border-color: #fff !important;
}

/*  SECTION APP */
.app_info{
    background-color: #000;
    overflow: hidden;
    border-radius: 10px;
    margin-top: 60px;
    position: relative;
    box-shadow: 0 15px 0 30px rgba(0, 0, 0, 0.1);
}
.app_info_img , .app_info_text{
    padding: 30px;
}
.app_info_img_inner , .app_info_text_inner{
    position: relative;
    z-index: 2;
}
.app_info_img:before{
    position: absolute;
    background: #fff;
    content: "";
    right: 50%;
    top: 0;
    width: 200%;
    height: 200%;
    
    transform: skew(15deg);
}
.app_info_text_inner h3{
    color: #fff;
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 20px;
}
.app_info ul{
    color: #fff;
}
.list-unstyled{
    padding-left: 0;
    list-style: none;
}
/*  FOOTER PART START */

.footer_section{
    padding: 70px 0;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    background: #000;
}
.footer_section .widget h3{
    font-size: 18px;
    color: #fff;
    margin-bottom: 20px;
}
.widget .links li{
    margin-bottom: 10px;
}
.widget .links li a{
    color: rgba(255, 255, 255, 0.5);
}

.table thead tr th{
    font-size: 20px;
    background-color: red;
    color: #fff;
}
.section_app{
    padding-top: 70px;
}
.section_bg_donate{
    padding-top: 150px;
    padding-bottom: 120px;
    letter-spacing: 2px;
}

.section_descript_app{
    padding: 120px 0;
    position: relative;
}
.section_descript_app:before{
    position: absolute;
    content: "";
    bottom: 0;
    background: #fff;
    height: 2px;
    left: 20%;
    right: 20%;
   
}
.title_section{
    margin-bottom: 20px;
}
.title_section h2{
    color: #fff;
    font-size: 27px;
    position: relative;
    /* padding-left: 30px; */
}
/* .title_section .heading:before{
    position: absolute;
    content: "";
    width: 10px;
    top: 0;
    left: 0;
    bottom: 0;
    background-image: url('images/b_cartoon.jpg');
} */
.des_list_span{
    position: relative;
    padding-left: 20px;
    color: honeydew;
}
.des_list_span:before{
    position: absolute;
    content: "";
    width: 15px;
    height: 20px;
    top: 0;
    left: 0;
    bottom: 0;
    background: rgb(146, 6, 6);
}
.section_blog{
    padding: 100px 0;
}
.section_blog img{
    border-radius: 7px;
}
.section_blog .meta{
    font-size: 12px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.3);
}
.mr-4{
    margin-right: 1.5rem !important;
}
.mb-4{
    margin-bottom: 1.5rem !important;
    font-size: 18px;
    color: #fff;
}

